# Compiled class file
*.class
/bin/

# Specific files to Ignore
Access.java
INITIAL GUIDE.txt

# Eclipse Core      
.project
.settings/

# JDT-specific (Eclipse Java Development Tools)     
.classpath
